* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 18px;
}

.result {
    width: 100%;
    background-color: hsl(252, 100%, 67%);
    text-align: center;
}

p {
    font-size: 1rem;
}